<!doctype html>
<html class="no-js" lang="en">

<head id="head">
    <% include ../partials/head %>

        <script>
            var preload = new Image();
            preload.onload = function () {
                document.body.classList.remove('hide');
                document.body.classList.add('full-bg-image');
                let mask = document.getElementById('starting-mask');
            }
            preload.onerror = function () {
                console.log("I guess it didn't work");
            }
            preload.src = '<%- pic_url %>';
        </script>
        <style>
            .full-bg-image {
                background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('<%- pic_url %>');
                background-repeat: no-repeat;
                background-position: center center;
                background-origin: border-box;
                background-size: cover;
                background-attachment: fixed;
            }
        </style>
</head>

<body class="hide">
    <div id="starting-mask"></div>

    <div class="grid-y align-middle" id="page-y-grid">
        <div class="text-center" id="close-button">
            <a href="/">
                <i class="fa fa-times-circle-o fa-3x" style="color:white" aria-hidden="true"></i>
            </a>
        </div>
        <div class="cell small-2"></div>
        <div class="cell small-auto medium-3 full-width">
            <div class="grid-x align-center-middle full-width full-height">
                <div class="cell small-11 medium-8 text-center">
                    <h1 class="heavy-text" id="audio-title">
                        <%- audioTitle %>
                    </h1>
                </div>
            </div>
        </div>

        <div class="cell small-2 full-width">
            <div class="grid-x align-center-middle full-width full-height">
                <div class="cell small-10 medium-4 large-3 text-center">
                    <div class="grid-x align-center">
                        <div class="cell small-4 text-center">
                            <i class="fa fa-chevron-left fa-3x" id="back" aria-hidden="true"></i>
                        </div>
                        <div class="cell small-4 text-center">
                            <i class="fa fa-play fa-3x" id="play" aria-hidden="true"></i>
                            <audio id="player" name="player" class="hide" src="<%- audio_url %>"></audio>
                        </div>
                        <div class="cell small-4 text-center">
                            <i class="fa fa-chevron-right fa-3x" id="next" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell small-1 medium-2 full-width">
            <div class="grid-x align-center-middle full-width full-height">
                <div class="cell small-11 medium-6 text-center">
                    <h3>Age:
                        <span id="age">
                            <%- age %>
                        </span> |
                        <span id="gender">
                            <%- gender %>
                        </span> 
                        <span id="pipe" class="hide-for-small-only">|</span>
                        <span id="line-break" class="show-for-small-only"><br></span>
                        <span id="location">
                            <%- location %>
                        </span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="cell small-1"></div>


        <% include ../partials/footer %>

    </div>





    <% include ../partials/google-scripts.ejs %>
        <% include ../partials/scripts.ejs %>
</body>

</html>